<div class="options-wrap" id="tab1">
    <main>
        <!-- SECTION 1 GENERAL SETTINGS -->
        <section>
            <h3 class="section-title" data-i18n="__MSG_general_settings__">
            </h3>
            <div class="section-wrap">
                <div class="form-group horizentle row">
                    <label for="dti" class="form-title" data-i18n="__MSG_default_timerinterval__:"></label>
                    <div class="row-center alc">
                        <input type="number" size="4" value="12" min="0" max="9999" id="default_time">
                        <label for="default_time" data-i18n="__MSG_seconds__"></label>
                    </div>
                </div>
                <div class="form-group horizentle row">
                    <label for="randomTime" class="form-title" data-i18n="__MSG_enable_ri__:"></label>
                    <div class="check-input">
                        <input type="checkbox" name="randomTime" id="randomTime">
                        <span></span>
                    </div>
                </div>
                <div class="form-group horizentle row">
                    <label data-i18n="__MSG_howto__:"></label>
                    <a id="incognito" href="#" data-i18n="__MSG_allow_incognito__">
                    </a>
                </div>
            </div>
        </section>
        <!-- SECTION 2 AUTO START URL -->
        <section>
            <h3 class="section-title" data-i18n="__MSG_auto_start__">
            </h3>
            <div class="section-wrap">
                <div class="form-group horizentle row">
                    <label for="as1" class="form-title" data-i18n="__MSG_enable_tf__:"></label>
                    <!-- if ac-switch contains class active, all inputs in this section will be enabled. Make sure to add class matching to 'rel' attribute to inputs for this functionality-->
                    <button class="ac-switch" rel="auto-start" id="autostart">
                        <span class="switch-ball"></span>
                    </button>
                </div>
                <div class="form-group horizentle">
                    <label for="as2" class="form-title" data-i18n="__MSG_auto_starturl__:"></label>
                    <textarea class="auto-start" name="asurl" id="as2" rows="4" cols="50" data-i18n="__MSG_ast_msg1__
example.com
google.com
demo.com"></textarea>
                </div>
                <div class="form-group horizentle">
                    <label class="form-title md-none"></label>
                    <div class="row-center alc">
                        <div class="check-input">
                            <input class="auto-start" type="checkbox" id="asrestart">
                            <span></span>
                        </div>
                        <label for="asrestart" data-i18n="__MSG_ast_msg2__">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <!-- SECTION 3 -->
        <section>
            <h3 class="section-title" data-i18n="__MSG_rpp__">
            </h3>
            <div class="section-wrap">
                <div class="form-group horizentle row">
                    <label for="pd1" class="form-title" data-i18n="__MSG_enable_tf__:"></label>
                    <!-- if ac-switch contains class active, all inputs in this section will be enabled. Make sure to add class matching to 'rel' attribute to inputs for this functionality-->
                    <button class="ac-switch" rel="rpp" id="pdcheck">
                        <span class="switch-ball"></span>
                    </button>
                </div>
                <div class="form-group horizentle alc">
                    <label for="pdurl" class="form-title" data-i18n="__MSG_predefined_url__:"></label>
                    <input class="rpp" type="text" name="pdurl" id="pdurl" size="80" value="" data-i18n="__MSG_rpp_msg1__">
                </div>
            </div>
        </section>
        <!-- SECTION 7 -->
        <section>
            <h3 class="section-title tag-beta" data-i18n="__MSG_rpt__">
            </h3>
            <div class="section-wrap">
                <div class="form-group horizentle row">
                    <label for="rpt" class="form-title" data-i18n="__MSG_enable_tf__:"></label>
                    <!-- if ac-switch contains class active, all inputs in this section will be enabled. Make sure to add class matching to 'rel' attribute to inputs for this functionality-->
                    <button class="ac-switch" rel="rpt" id="rpt">
                        <span class="switch-ball"></span>
                    </button>
                </div>
                <div class="form-group horizentle alc">
                    <label for="rpttext" class="form-title" data-i18n="__MSG_predefined_text__:"></label>
                    <input class="rpt" type="text" id="rpttext" data-i18n="__MSG_rpt_input1__">
                </div>
            </div>
        </section>
        <!-- SECTION 4 -->
        <section>
            <h3 class="section-title" data-i18n="__MSG_start_timer__">
            </h3>
            <div class="section-wrap">
                <div class="form-group horizentle row">
                    <label for="st1" class="form-title" data-i18n="__MSG_enable_tf__:"></label>
                    <!-- if ac-switch contains class active, all inputs in this section will be enabled. Make sure to add class matching to 'rel' attribute to inputs for this functionality-->
                    <button class="ac-switch" rel="st" id="timercheck">
                        <span class="switch-ball"></span>
                    </button>
                </div>
                <div class="form-group horizentle">
                    <label class="form-title" data-i18n="__MSG_timer_mode__:"></label>
                    <div class="form-group">
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="st" type="radio" id="timer01" name="timerR" checked>
                                <span></span>
                            </div>
                            <label for="timer01" data-i18n="__MSG_countdown_mode__">
                            </label>
                        </div>
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="st" type="radio" id="timer02" name="timerR">
                                <span></span>
                            </div>
                            <label for="timer02" data-i18n="__MSG_specific_timemode__">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- SECTION 5 PAGE MONITOR-->
        <section>
            <h3 class="section-title" data-i18n="__MSG_page_monitor__">
            </h3>
            <div class="section-wrap">
                <div class="form-group horizentle row">
                    <label for="pmonitor" class="form-title" data-i18n="__MSG_enable_tf__:"></label>
                    <!-- if ac-switch contains class active, all inputs in this section will be enabled. Make sure to add class matching to 'rel' attribute to inputs for this functionality-->
                    <button class="ac-switch" rel="pm" id="pmonitor">
                        <span class="switch-ball"></span>
                    </button>
                </div>
                <div class="form-group horizentle alc">
                    <label for="defaultpgtxt" class="form-title" data-i18n="__MSG_default_target_text__:"></label>
                    <input class="pm" type="text" id="defaultpgtxt" data-i18n="__MSG_default_target_input__">
                </div>
                <div class="form-group horizentle">
                    <label class="form-title" data-i18n="__MSG_pmp__:"></label>
                    <div class="form-group">
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="pm" type="radio" id="pagemr01" name="pagemr" checked>
                                <span></span>
                            </div>
                            <label for="pagemr01" data-i18n="__MSG_pmp_msg1__">
                            </label>
                        </div>
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="pm" type="radio" id="pagemr02" name="pagemr">
                                <span></span>
                            </div>
                            <label for="pagemr02" data-i18n="__MSG_pmp_msg2__">
                            </label>
                        </div>
                    </div>
                </div>                
                <div class="form-group horizentle">
                    <label class="form-title" data-i18n="__MSG_play_sound__:"></label>
                    <div class="form-group">
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="pm pmsound" type="radio" id="pmsound01" name="pmsound" checked>
                                <span></span>
                            </div>
                            <label for="pmsound01" data-i18n="__MSG_never_playsound__">
                            </label>
                        </div>
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="pm pmsound" type="radio" id="pmsound02" name="pmsound">
                                <span></span>
                            </div>
                            <label for="pmsound02" data-i18n="__MSG_playsound_candidate__">
                            </label>
                        </div>
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="pm pmsound" type="radio" id="pmsound03" name="pmsound">
                                <span></span>
                            </div>
                            <label for="pmsound03" data-i18n="__MSG_playsound_candidate2__">
                            </label>
                        </div>
                        <div class="row-center wrap row">
                            <div class="radio-input">
                                <input class="pm pmsound" type="radio" id="pmsound04" name="pmsound">
                                <span></span>
                            </div>
                            <label for="pmsound04" data-i18n="__MSG_playsound_msg1__:">
                            </label>
                            <input class="pm" type="text" name="soundurl" id="soundurl" size="53" value="" placeholder="e.g. www.example.com/sound.mp3">
                        </div>
                        <div class="row-center alc">
                            <label data-i18n="__MSG_volume__:" class="mt-25">
                            </label>
                            <input class="pm mt-10" type="range" id="soundvolume" min="0" max="1" step="0.01" value="1">
                            <button class="btn-primary-option" id="test-play" data-i18n="__MSG_test_play__"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group horizentle">
                    <label class="form-title" data-i18n="__MSG_sound_length__:"></label>
                    <div class="form-group">
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="pm" type="radio" id="pm_sound_til_click" name="pm_sound_til" value="pm_sound_til_click">
                                <span></span>
                            </div>
                            <label for="pm_sound_til_click" data-i18n="__MSG_pm_msg2__">
                            </label>
                        </div>
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="pm" type="radio" id="pm_sound_til_sound" name="pm_sound_til" value="pm_sound_til_sound">
                                <span></span>
                            </div>
                            <label for="pm_sound_til_sound" data-i18n="__MSG_play_onlyonce__">
                            </label>
                        </div>
                        <div class="row-center">
                            <div class="radio-input">
                                <input class="pm" type="radio" id="pm_sound_til_timeout" name="pm_sound_til" value="pm_sound_til_timeout">
                                <span></span>
                            </div>
                            <label data-i18n="__MSG_play_for__">
                            </label>
                            <input class="pm" type="number" id="pm_sound_timeout" value="5" min="0">
                            <label for="pm_sound_timeout" data-i18n="__MSG_seconds__"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group horizentle mt-30 alc">
                    <label for="ea" class="form-title">
                        <div class="text tag-beta" data-i18n="__MSG_email_alert__:">
                        </div>
                    </label>
                    <div class="form-group email-input">
                        <input class="pm" type="email" name="" id="ea" placeholder="name@email.com">
                        <span class="icon-mail"></span>
                    </div>
                </div>
            </div>
        </section>
        <!-- will add In next version -->
        <!-- will add In next version -->
        <section class="options-cta">
            <button class="btn-primary-option" id="save" data-i18n="__MSG_save__"></button>
            <button class="btn-secondry-option" id="cancel" data-i18n="__MSG_cancel__"></button>
            <p class="notification-success" style="display: none;" data-i18n="__MSG_success__">
            </p>
        </section>
    </main>
</div>
<div id="html1" style="position:absolute; overflow:hidden; left:0px; top:0px; width:0px; height:0px; z-index:0">
    <input type="checkbox" name="dontsupport" id="dontsupport" />
</div>